*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-image: url(background_2.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size:cover;
}

.heading_1{
    color: wheat;
}

.cont_1{

    color: wheat;
}
.cont_2{

    color: wheat;
}
.cont_3{

    color: wheat;
}