*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    height: 25vh;
    background-color: rgb(19, 19, 65);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
nav ul li{
    list-style-type: none;
    display: block;
}
nav ul li a{
    text-decoration: none;
    color: wheat;
    padding: 5px;
    margin: 10px;
}