@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lavishly+Yours&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --frstcolor: #1C1C1C;
    --seccolor:#D4A24C;
    --thrdcolor: #FFFFFF;
}
body{
    font-family: lato;
}
.hdcont{
    display: flex;
    flex-direction: row;
    height: 20vh;
}
.companyname{
    background-color: var(--frstcolor);
    width: 33%;
}
.companyname h1{
    font-family: comfortaa thin;
    color: var(--seccolor);
    text-align: center;
    padding: 6vh 0px;
    font-size: 3em;
}
.logocont{
    background-color: var(--frstcolor);
    width: 34%;
    height: 20vh;
}
#logo{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.nav{
    background-color: var(--frstcolor);
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    display: block;
    color: var(--thrdcolor);
    margin: 10% 10px;
    padding: 15px;
    border: 2px solid var(--thrdcolor);
    border-radius: 10px;
    font-family: roboto condensed;
    font-size: 1.2em;
}
nav ul li:hover{
    color: var(--seccolor);
    font-size: 1.3em;
    border: 3px solid var(--seccolor);
    transition: all 0.5s ease;
}