*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
.box{
    border: 2px solid rgb(10, 167, 10);
    /* width: 2048px; */
    height: 25vh;
    width: 80vw;
    background-color: #adff2f;
    margin: 15px auto;
}
.box p{
    font-size: 2rem;
}
.cont{
    border: 5px solid #0aa70a;
    background-color: #adff2f;
    width: 80vw;
    height: 50vh;
    margin: 15px auto;
    font-size: 16px;
}
.cont p{
    font-size: 2em;
}
.contholder{
    width: 100vw;
    margin: 15px auto;
    font-size: 2rem;
    background-color: #fc713e;
    border: 5px solid orangered;
}