*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    display: inline;
    border: 5px solid royalblue;
    padding: 20px;
    width: 50vw;
}
.box1{
    width: 20vw;
    border: 5px solid royalblue;
    border-radius: 2px;
}